---
// Test page: does Medium accept AVIF images?
// Delete this page after testing.
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AVIF Test</title>
</head>
<body style="max-width:800px;margin:2rem auto;font-family:system-ui;">
  <h1>AVIF image test</h1>
  <p>If you see the image below, AVIF works.</p>
  <img src="/blog-images/cover-illustration-f2cfd329.avif" alt="AVIF test image" width="768" />
  <p><a href="/blog-images/cover-illustration-f2cfd329.avif">Direct link to .avif file</a></p>
</body>
</html>
