<div id="pagefind-search"></div>
<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script>
  window.addEventListener("DOMContentLoaded", () => {
    import("/pagefind/pagefind-ui.js").then((module) => {
      new module.PagefindUI({
        element: "#pagefind-search",
        showSubResults: true,
      });
    });
  });
</script>
